body{
    font: 15px Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;

}
/*
estilos globales
*/
.contenedor{
    width: 100%;
    margin: auto;
    overflow: hidden;
}

.boton1{
    height: 38px;
    background-color: orange;
    border: 0;
    padding-left: 20px;
    padding-right: 20px;
    color: black;
}
.izquierda{
	float: left;
}

#ovi_logo{
background-image: url("../images/logoUNAD.png");
width: 322px;
    height: 63px;	
}
#titulo_logo{
	color: #005883;
    margin-top: 16px;
    margin-left: 17%;
}
/*
Encabezado
*/
header{
    background-color: white;
    color: white;
    padding-top: 0px;
    min-height: 117px;
    border-bottom: 3px solid #F47920;
}
header a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
}
header li{
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}
header nav{
    float: right;
    margin-top: 0px;
}

/*
Cabecera con imagen
*/
#texto{
    min-height:400px;
    text-align: center;
    #color: #fff;
}
#texto h1{
    margin-top: 100px;
    font-size: 55px;
    margin-bottom: 10px;
}
#texto p{
    font-size: 20px;
}

#informacion{
    padding: 15px;
    color: #fff;
    background: black;
}
#informacion h1{
    float: left;
    color: white;
}

#informacion form{
    float: right;
    margin-top: 05px;
}
/*
logos
*/

#logos{
    margin-top: 20px;
}

#logos .logo{
    width: 30%;
    padding: 10px;
}

#logos .logo img{
    width: 55px;
    height: 40px;
}

/*
Pie de página o footer
*/

footer{
    padding:20px;
    margin-top: 20px;
    color: black;
    background-color: #F0B429;
    text-align: center;
}



 * {
    padding: 0px;
    margin: 0px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    }
body{
    background: white;
    }
.navegacion{
    width: 100%;
    margin-top: 5px;
    background: #005883;
    color: white !important;
    }

.navegacion ul{
    list-style: none;
	float: right;
    }
.menu > li{
    /*position: relative;*/
    display: inline-block;
}
.menu > li > a{
    display: inline-block;
    padding: 15px 20px;
    color: white;
    font-family: 'Open Sans',sans-serif;
    text-decoration: none;
	transition: .3s;
}
.menu li a:hover{
    color: #005883;
    transition: all .3s;
	background-color: #fff;
}

/*
submenu
*/

.submenu{
    position: absolute;
    background: #333333;
    width:160px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 1.5s;
}
.submenu li a {
    display: inline-block;
    padding: 15px;
    color: #fff;
    font-family: 'Open Sans',sans-serif;
    text-decoration: none;
}
.menu li:hover .submenu{
    visibility: visible;
    opacity: 1;
}